docs/n8n/workflow-plaid.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "c4adb583-3b18-4539-9cd1-2995319b6f23",
      "name": "Schedule Every 6-12 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -608,
        1536
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "plaidClientId",
              "value": "YOUR_PLAID_CLIENT_ID",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "plaidSecret",
              "value": "YOUR_PLAID_SECRET",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "plaidAccessToken",
              "value": "={{ $json.access_token }}",
              "type": "string"
            },
            {
              "id": "4e6d53fa-8a1a-4ff5-aa59-72d3ab154082",
              "name": "supabaseProjectId",
              "value": "YOUR_SUPABASE_PROJECT_ID",
              "type": "string"
            },
            {
              "id": "bef36273-1da8-45dd-91b1-3c164553f4fc",
              "name": "supabaseUrl",
              "value": "https://YOUR_SUPABASE_PROJECT_ID.supabase.co",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "7fa2d8b3-bdf6-4f46-9d56-dd8bf192aaaf",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        1536
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "provider_connections"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -384,
        1536
      ],
      "id": "96f30629-7057-4285-ba6d-72a8662dfc41",
      "name": "getProviderData5",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "supabase-FinancialDashboard"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.accounts",
        "include": "selectedOtherFields",
        "fieldsToInclude": "has_more,next_cursor",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        512,
        1536
      ],
      "id": "971ff802-2f94-4922-af4d-3c44952701cd",
      "name": "Split Transactions Test1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://production.plaid.com/transactions/sync",
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"client_id\": \"{{ $json.plaidClientId }}\",\n  \"secret\": \"{{ $json.plaidSecret }}\",\n  \"access_token\": \"{{ $json.plaidAccessToken }}\",\n  \"cursor\": \"\",\n  \"count\": 200\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          },
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "type": "body",
                    "name": "cursor",
                    "value": "={{$response.body.next_cursor}}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{$response.body.has_more === false}}",
              "requestInterval": 1000
            }
          }
        }
      },
      "id": "4149f22f-189c-454d-af59-86705ee6c844",
      "name": "accounts-Transactions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        288,
        1536
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Your incoming items look like: { \"body.accounts\": { ... } }\nconst accounts = $input\n  .all()\n  .map(i => i.json[\"body.accounts\"])  // <-- THIS is the key fix\n  .filter(Boolean);\n\n// Optional: dedupe by provider_account_id so bulk upsert doesn't repeat rows\nconst seen = new Set();\n\nconst accountsToUpsert = accounts\n  .map(a => ({\n    provider: 'plaid',\n    provider_account_id: a.account_id,\n    name: a.name,\n    institution: null, // not in your payload sample\n    account_type: a.subtype ?? a.type ?? null,\n    mask: a.mask ?? null,\n    balance_current: a.balances?.current ?? null,\n    balance_available: a.balances?.available ?? null,\n    include_in_cashflow: true,\n    is_active: true,\n    updated_at: new Date().toISOString(),\n  }))\n  .filter(r => {\n    // enforce required fields + dedupe\n    if (!r.provider_account_id || !r.name) return false;\n    const k = `${r.provider}:${r.provider_account_id}`;\n    if (seen.has(k)) return false;\n    seen.add(k);\n    return true;\n  });\n\nreturn [{ json: { accountsToUpsert } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        1536
      ],
      "id": "2ed330c2-7eea-46d0-9a22-d6fc418f302e",
      "name": "transformAccounts"
    },
    {
      "parameters": {
        "jsCode": "// transactionTransform (Run Once for All Items)\n// Current input: Supabase upsert response rows for accounts (each item has id + provider_account_id)\n// We also pull Plaid transactions from node: \"accounts-Transactions\"\n\nconst PLAID_NODE = 'accounts-Transactions';\n\n// 1) Build lookup: Plaid account_id -> Supabase accounts.id (uuid)\nconst accountRows = $input.all().map(i => i.json).filter(Boolean);\n\nconst accountLookup = new Map(\n  accountRows\n    .filter(r => r.provider_account_id && r.id)\n    .map(r => [r.provider_account_id, r.id])\n);\n\n// 2) Pull all Plaid \"added\" transactions from accounts-Transactions\nconst plaidItems = $items(PLAID_NODE);\n\nconst added = plaidItems\n  .flatMap(i => i.json.body?.added ?? [])\n  .filter(Boolean);\n\n// 3) Transform to public.transactions schema\nconst seen = new Set();\n\nconst transactionsToUpsert = added\n  .map(t => {\n    const provider = 'plaid';\n\n    const provider_account_id = t.account_id ?? null;  // Plaid account id\n    const account_id = provider_account_id ? accountLookup.get(provider_account_id) : null;\n\n    const provider_transaction_id = t.transaction_id ?? null;\n    const date = t.date ?? t.authorized_date ?? null; // YYYY-MM-DD\n    const amount = (typeof t.amount === 'number') ? t.amount : Number(t.amount);\n\n    const counterparty_name =\n      t.merchant_name ??\n      t.counterparties?.[0]?.name ??\n      null;\n\n    const description_raw =\n      t.original_description ??\n      t.name ??\n      counterparty_name ??\n      null;\n\n    const description_clean =\n      t.name ??\n      counterparty_name ??\n      null;\n\n    const status = (t.pending === true) ? 'pending' : 'posted';\n\n    // required fields\n    if (!provider_transaction_id || !account_id || !date || Number.isNaN(amount)) return null;\n\n    // dedupe\n    const k = `${provider}:${provider_transaction_id}`;\n    if (seen.has(k)) return null;\n    seen.add(k);\n\n    return {\n      provider,\n      provider_transaction_id,\n      account_id,               // REQUIRED FK uuid\n      provider_account_id,      // optional\n      date,                     // REQUIRED\n      amount,                   // REQUIRED\n      description_raw,\n      description_clean,\n      counterparty_name,\n      provider_type: t.payment_channel ?? null,\n      status,\n      processing_status: 'complete',\n      updated_at: new Date().toISOString(),\n    };\n  })\n  .filter(Boolean);\n\nreturn [{\n  json: {\n    transactionsToUpsert,\n    count: transactionsToUpsert.length,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        1536
      ],
      "id": "974e4f31-9253-4b5b-95cc-286c00b87d2a",
      "name": "transactionTransform"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eknxbedvbvaircfcbdeo.supabase.co/rest/v1/accounts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "on_conflict",
              "value": "provider,provider_account_id"
            },
            {
              "name": "select",
              "value": "id,provider,provider_account_id,name,balance_current,balance_available"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_ANON_KEY"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates, return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.accountsToUpsert }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        960,
        1536
      ],
      "id": "e66976ae-52ab-498b-9aa4-d87706d51e60",
      "name": "supabaseUpsertAccounts",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "supabase-FinancialDashboard"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eknxbedvbvaircfcbdeo.supabase.co/rest/v1/transactions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "on_conflict",
              "value": "provider,provider_transaction_id"
            },
            {
              "name": "select",
              "value": "id,provider,provider_transaction_id,account_id,provider_account_id,date,amount,status"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates, return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.transactionsToUpsert }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1408,
        1608
      ],
      "id": "c6e1fa12-6194-4008-9c10-ca3e339cafd7",
      "name": "supabase_transactionsUpsert",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "supabase-FinancialDashboard"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        64,
        1536
      ],
      "id": "69194eb8-82f4-457e-8d11-5d607735f2a2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        288,
        1344
      ],
      "id": "2c2233aa-1487-4f15-ab38-d4d418e27295",
      "name": "logOutput"
    }
  ],
  "connections": {
    "Schedule Every 6-12 Hours": {
      "main": [
        [
          {
            "node": "getProviderData5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getProviderData5": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Transactions Test1": {
      "main": [
        [
          {
            "node": "transformAccounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "accounts-Transactions": {
      "main": [
        [
          {
            "node": "Split Transactions Test1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transformAccounts": {
      "main": [
        [
          {
            "node": "supabaseUpsertAccounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transactionTransform": {
      "main": [
        [
          {
            "node": "supabase_transactionsUpsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "supabaseUpsertAccounts": {
      "main": [
        [
          {
            "node": "transactionTransform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "supabase_transactionsUpsert": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "logOutput",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "accounts-Transactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b8070f56758ed070d4025219f0915bbf80b51f4ff99cdfcfaafdbcdea2eb129"
  }
}